<!DOCTYPE html>
{% extends 'master.html' %}

{% block title %} The details about {{ person_item.firstName }} {% endblock %}

{% block content %}
        <h1>Person_data details</h1>
        <div>
            <b>First Name: </b>{{person_item.firstName}} <br>
            <b>Last Name: </b>{{person_item.lastName}} <br>
            <b>age: </b>{{person_item.age}} <br>
            <b>Joined Date: </b>{{person_item.joined_date}}
        </div>
        <a href="/first_app/">back to general Person_data</a>
{% endblock %}